<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopping List Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="../static/js/script.js"></script>  

</head>
<body>

<div class="container-fluid p-3 bg-dark text-white">
  <h1>Shopping List Calculator</h1>
</div>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item link">
      <a class="nav-link" href="#">Browse</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Cart</a>
    </li>
  </ul>
</nav>

<!-- Left side column to display list of cart items -->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-9">

      <div class="container-fluid">
        <h2>Cart</h2>
        <table class="table table-striped" id="cart">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
        </table>
      </div>
  
  <div class="container text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal" id="add-item">Add Item</button>

    <div class="modal" id="mymodal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Item</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <table class="table table-striped" id="items">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th></th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
  </div>

    </div>
    <!-- Right side column to display cart price and totals -->
    <div class="col-sm-3 bg-white">
        <div class="container card bg-light">
          <h2 class="my-5 ">Totals</h2>
          <div>
            <table class="table table-borderless table-sm">
              <tbody>
                <td>Subtotal:</td>
                <td id="subtotal">$0</td>
              </tbody>
              <tbody>
                <td>Tax:</td>
                <td id="tax">$0</td>
              </tbody>
              <tbody>
                <td>Total:</td>
                <td id="total">$0</td>
              </tbody>
            </table>
          </div>

          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Coupon Code">
            <button type="button" class="btn btn-primary" id="coupon_code">Apply</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>